
  body {
  display: flex;
  flex-wrap: wrap;
  }
  body > * {
  background: rgb(189, 115, 204);
  padding: 2rem;
  /* text-align: center;*/
  border: 5px solid white; 
}

.header {
  background-image: url(../imagens/foto\ luiz.png);
  flex: 1 100%;
  color: white;
}
.superior {
  background-image: url(../imagens/banner\ icon.jpeg);
  flex: 1 100%;
  color: white;
}

.roda_pe {
  background-image: url(../imagens/banner\ icon.jpeg);
  flex: 1 100%;
  color: white;
  text-align: center;
}
.figura {
  width: 100px;
  float: left;
  padding-right: 5px;
} 

.principal {
  flex: 2;
  text-align: left;
}
.sidebar {
  flex: 1;
  text-align: left;
}